*{
    box-sizing: border-box;
    outline: 0;
    border: none;
}

body{
    overflow-x: hidden;
}

h2{
    margin-top: 0;
}

h3{
    margin: 0;
    font-weight: 100;
}

*{
    box-sizing: border-box;
}

a{
    color: #000;
}

