.aside{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
	background-color: #182846ee;
    transition: all .3s ease-out;
	grid-column: 1 / 13;
    order: 2;
    position: relative;
    margin-top: 300px;
    
    &--modal{
        position: absolute;
        top: 0;
        bottom: -100%;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .35);
        z-index: 100;
        display: none;
        
        &--show{
            display: block;
        }
    }

    @mixin atSmall{
		margin-top: 400px;
	}
    
    @mixin atMedium{
        margin-top: 0;
        height: 100vh;
        overflow-y: scroll;
        order: 1;
        grid-column: 1 / 5;
    }

	@mixin atLarge{
		grid-column: 1 / 4;
	}
    
    &--hide{
        display: none !important;
    }

    &__main-title{
        font-family: 'Source Code Pro', sans-serif;
        margin: 0;
        padding: 0;
        text-align: center;
		color: #FEFCFB;
        font-weight: 100;
        font-size: 15px;
        padding: 25px 0;
        margin-bottom: .5rem;
        border-bottom: 1px solid #A93F55;
        
        @mixin atSmall{
            font-size: 18px;
        }
        
        @mixin atMedium{
            font-size: 20px;
        }
    }
    
    &--item{
        position: relative;
        padding: .5rem 2.5rem 1rem 2.5rem;
        
        @mixin atMedium{
            padding: 1rem 3rem 1rem 2.5rem;
        }
        
        @mixin atLarge{
            padding: 1rem 3.8rem 1rem 2.5rem;
        }
        
        &--wrapper-file{
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            position: relative;
            width: 100%;
            margin-bottom: 10px;

             &:hover{
                .main-wrapper__aside--item--wrapper-file--title{
                    border-color: #ff435f;
                }
            }

            &--title{
                background-color: transparent;
                border: 1px solid #808A9F;
                color: #fff;
                cursor: pointer;
                display: inline-block;
                padding: 8px;
                width: 100%;
                text-align: center;
                transition: all .3s ease-out;
                font-size: 13px;
            }

            &--core{
                cursor: pointer;
                font-size: 25px;
                filter: alpha(opacity=0);
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }

    &__number{
        display: none;
        
        @mixin atSmall{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: transparent;
            height: 18px;
            width: 34px;
            color: #fff;
            right: 3px;
            bottom: 16px;
            font-size: 13px;

        }
        
        @mixin atMedium{
            right: 7px;
        }
        
        @mixin atLarge{
            right: 20px;
        }
        
        &--hide{
            display: none;
        }
    }
    
    &__title{
        cursor: pointer;
        margin-bottom: 0px;
        transition: all .3s ease-out;
        user-select: none;
        font-size: 13px;

        &::before{
            content: ' ';
                display: block;
                position: absolute;
                top: 8px;
                left: 18px;
                border-style: solid;
                border-width: 7px 0px 7px 7px;
                border-color: transparent transparent transparent #808A9F;
                
                transition: all .2s ease-out;
        }
        
        @mixin atSmall{
            &::before{
                content: ' ';
                display: block;
                position: absolute;
                top: 8px;
                left: 18px;
                border-style: solid;
                border-width: 7px 0px 7px 7px;
                border-color: transparent transparent transparent #808A9F;
                
                transition: all .2s ease-out;
            }
        }

        @mixin atMedium{
            &::before{
                top: 16px;
            }
        }
        
        &--animation{
            &::before{
                top: 7px;
                left: 11px;
                border-width: 7px 7px 0 7px;
                border-color: #808A9F transparent transparent transparent;

                @mixin atSmall{
                    top: 13px;
                }

                @mixin atMedium{
                    top: 22px;
                }
            }
        }
    }
}

.simplebar-scrollbar{
    width: 3px !important;
}

