.aside{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
	background-color: #2A3D45;
    transition: all .3s ease-out;
    height: calc(100vh - 50px);
	grid-column: 9 / 13;
    order: 2;
    overflow-y: scroll;
    position: relative;
    
    &--modal{
        position: absolute;
        top: 0;
        bottom: -100%;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .35);
        z-index: 100;
        display: none;
        
        &--show{
            display: block;
        }
    }
    
    @mixin atSmall{
        order: 1;
        grid-column: 1 / 5;
    }

	@mixin atLarge{
		grid-column: 1 / 4;
	}
    
    &--hide{
        display: none !important;
    }
    
    &--item{
        position: relative;
        padding: 1rem .2rem 1rem .2rem;

        @mixin atSmall{
            padding: .5rem 2.5rem 1rem 2.5rem;
        }
        
        @mixin atMedium{
            padding: 1rem 3rem 1rem 2.5rem;
        }
        
        @mixin atLarge{
            padding: 1rem 3.8rem 1rem 2.5rem;
        }
        
        &--wrapper-file{
            cursor: pointer;
            display: inline-block;
            overflow: hidden;
            position: relative;
            width: 100%;
            margin-bottom: 10px;

             &:hover{
                .main-wrapper__aside--item--wrapper-file--title{
                    border-color: #ff435f;
                }
            }

            &--title{
                background-color: transparent;
                border: 1px solid rgb(97, 97, 97);
                color: #fff;
                cursor: pointer;
                display: inline-block;
                padding: 8px;
                width: 100%;
                text-align: center;
                transition: all .3s ease-out;
                font-size: 13px;
            }

            &--core{
                cursor: pointer;
                font-size: 25px;
                filter: alpha(opacity=0);
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            }
        }
    }

    &__number{
        display: none;
        
        @mixin atSmall{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: #2A3D45;
            height: 18px;
            width: 34px;
            color: #fff;
            right: 3px;
            bottom: 16px;
            font-size: 13px;

        }
        
        @mixin atMedium{
            right: 7px;
        }
        
        @mixin atLarge{
            right: 20px;
        }
        
        &--hide{
            display: none;
        }
    }
    
    &__title{
        cursor: pointer;
        margin-bottom: 0px;
        transition: all .3s ease-out;
        user-select: none;
        font-size: 13px;

        &::before{
            display: none;
        }
        
        @mixin atSmall{
            &::before{
                content: ' ';
                display: block;
                position: absolute;
                top: 5px;
                left: 18px;
                border-style: solid;
                border-width: 10px 0px 10px 10px;
                border-color: transparent transparent transparent rgb(97, 97, 97);
                
                transition: all .2s ease-out;
            }
        }

        @mixin atMedium{
            &::before{
                top: 13px;
            }
        }
        
        &--animation{
            &::before{
                top: 7px;
                left: 11px;
                border-width: 10px 10px 0 10px;
                border-color: rgb(97, 97, 97) transparent transparent transparent;

                @mixin atSmall{
                    top: 10px;
                }

                @mixin atMedium{
                    top: 19px;
                }
            }
        }
    }
}

.simplebar-scrollbar{
    width: 3px !important;
}

