.blend-wrapper{
    &__options{
        display: none;
        user-select: none;

        &__input, &__select{
          margin-bottom: 20px;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          @mixin atMedium{
            justify-content: space-between;
          }
        }

        &__input{
          input{
            background-color: transparent;
            border: 0;
            margin-left: 20px;

            @mixin atMedium{
              margin-left: 0;
            }
          }
        }
    }

    &--less-pb{
      padding-bottom: 0.5em;
    }
}

.blend-wrapper .aside--item{
    color: #fff;
    font-size: 14px;
}

.showHide{
    display: block;
}

.check {
    width: 15px;
    height: 15px;
    position: absolute;
    margin: auto auto auto 10px;
    
    input[type='checkbox'] {
      display: none;
      &:checked + .box {
        background-color: #b3ffb7;
        
        &:after {
          top: 0;
        }
      }
    }
    
    .box {
      width: 100%;
      height: 100%;
      transition: all 1.1s cubic-bezier(.19,1,.22,1);
      border: 1px solid transparent;
      background-color: #808A9F;
      /* border-color: #A93F55; */
      position: relative;
      overflow: hidden;
      cursor: pointer;
        box-shadow: 0 5px rgba(0,0,0,.2);
      &:after {
        width: 50%;
        height: 20%;
        content: '';
        position: absolute;
        border-left: 1.5px solid;
        border-bottom: 1.5px solid;
        border-color: #40c540;
        transform: rotate(-45deg) translate3d(0,0,0);
        transform-origin: center center;
        transition: all 1.1s cubic-bezier(.19,1,.22,1);
        left: 0;
        right: 0;
        top: 200%;
        bottom: 5%;
        margin: auto;
      }
    }
  }