.button{
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
  background-color: transparent;
  border: 1px solid #808A9F;
	letter-spacing: 1px;
	color: #fff;
	padding: 8px;
	width: 100%;
	transition: all .3s ease-out;
	text-align: center;
	white-space: pre-wrap;
	font-size: 13px;

  &--wa{
    width: auto;
    padding: .5rem .8rem;
  }

	&:hover{
		border-color: #A93F55;
  }
}