.center{
	background-image: url('../../assets/images/black-paper.png');
    background-color: #343434;
    background-repeat: repeat;
	grid-column: 1 / 9;
    order: 1;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    position: relative;

    &--modal{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #146645;
        z-index: 3;
        transform: scale(0);
        transition: all .3s ease-out;
        font-family: 'Source Code Pro', sans-serif;
        padding: 2rem;
        color: #fff;
        transform-origin: left top;
        
        &__wrapper-btn{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__init-code{
            margin-top: 1rem;
            font-size: 14px;
        }

        &__code{
            margin-top: 1rem;
            font-size: 14px;
            white-space: pre-wrap;
            background-color: rgb(72, 77, 77);
            padding: 15px;

            &--markup{
                background-color: rgb(72, 77, 77);
                padding: 15px;
                margin-top: 1rem;
                font-size: 14px;
            }
        }

        &--show{
            transform: scale(1);
        }

        @mixin atSmall{
            width: 80%;
        }

        @mixin atLarge{
            width: 70%;
        }

        @mixin atExtraLarge{
            width: 40%;
        }
    }
	
    @mixin atSmall{
        order: 2;
        grid-column: 5 / 13;
    }

	@mixin atLarge{
		grid-column: 4 / 13;
	}
    
    &--expand{
        grid-column: 1 / 13;
        
        @mixin atLarge{
		    grid-column: 1 / 13;
	    }
    }

    &__img{
        /*position: relative;*/
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;

        /*&:after{
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: green;
        }*/

        @mixin atSmall{
            max-width: 95%;
            max-height: 95%;
        }

        &--wrapper{
            position: relative;
            transition: all .3s ease-out;

            &:before{
                content:'';
                display: block;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                position: absolute;
                pointer-events: none;
                /* mix-blend-mode: difference;
                background: red; */
            }

            &:hover{
                filter: none !important;
            }
        }
        
        &--core{
            display: block;
            max-width: 100%;
            max-height: 100%; 
            object-fit: cover;
            opacity: 1;
            /* mix-blend-mode: difference; */
        }
    }
    
    /*&__img{
        max-width: 100%;
        height: 100%;
        
        @mixin atSmall{
            max-width: 90%;
            height: 90%;
            display: flex;
            align-items: center;
        }

        &--wrapper{
            width: 100%;
            height: 100%;
            background-color: green;
        }
        
        &--core{
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin-top: calc(50vh - 50px);
            transform: translateY(-50%);
            object-fit: cover;
            transition: all .3s ease-out;
            opacity: .2;
            
            @mixin atSmall{
                margin-top: 0;
                transform: none;
            }

            &:hover{
                border-radius: 0 !important;
                filter: none !important;
            }
        }
    }*/
}