@charset "UTF-8";

@font-face {
  font-family: "untitled-font-2";
  src:url("../../assets/fonts/untitled-font-2.eot");
  src:url("../../assets/fonts/untitled-font-2.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/untitled-font-2.woff") format("woff"),
    url("../../assets/fonts/untitled-font-2.ttf") format("truetype"),
    url("../../assets/fonts/untitled-font-2.svg#untitled-font-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-streamline-sync:before {
  content: "\61";
}
.icon-picture-streamline:before {
  content: "\62";
}
.icon-code:before {
  content: "\63";
}
.icon-left-open-mini:before {
  content: "\65";
}
.icon-right-open-mini:before {
  content: "\66";
}

button[class*="icon-"]::before, span[class*="icon-"]::before{    
    position: relative;
    right: 7px;
    top: 1px;
    font-size: 14px;
    transition: all .3s ease-out;
    display: inline-block;    
}

.aside--item--wrapper-file:hover{
    span[class*="icon-"]::before{
        animation: jump .7s linear 1;  
    }
}

#reset:hover::before{
  animation: rotate 2s infinite linear;
}

#cssgene:hover::before{
  animation: jump .7s linear 1;  
}


@keyframes jump {
    0%{
        transform: translateY(0);
      }
      20%{
        transform: translateY(0);
      }
      40%{
        transform: translateY(-30%);
      }
      50%{
        transform: translateY(0);
      }
      60%{
        transform: translateY(-15%);
      }
      80%{
        transform: translateY(0);
      }
      100%{
        transform: translateY(0);
      }
}

@keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}